body {
  /*background: url('/images/microphone1.jpg');*/
  background-color: #111;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding-top: 44px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  background: #111111;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main-nav{
	background: transparent;
}

.main {
  position: absolute;
  width: 100%;
  top: 44px;
  bottom: 0;
  overflow-y: scroll;
}

@media screen and (max-width: 756px) {
  .main {
  	top: 60px;
  }
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-family: "Titillium Web", sans-serif;
}

.navbar a:hover{
  text-decoration: none !important;
  color: #333 !important;
}

a{
  text-decoration: none;
}

/*-------------------------*/


@media only screen and (max-width: 756px){
    .navbar a{
  		padding: 5px 6px;
    }
    body{
    	padding-top: 57px;
    }
}


/*-------------------------*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #444;
}

::-webkit-scrollbar {
  border-radius: 10px;
  width: 12px;
  background-color: #444;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
