.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 25%; /* explanation below */
  margin: 5px;
  height: 500px;
  max-width: 32.5%;
}

@media only screen and (max-width: 1000px){
    .child{
        flex: 1 0 40%;
        max-width: 48%;
    }
}

@media only screen and (max-width: 756px){
    .child{
        flex: 1 0 80%;
        max-width: 98%;
    }
}

.card {
  box-shadow: -11px 13px 12px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: white;
  background-color: rgba(255, 255, 255, 0.5);
      transition: transform .2s;
}

.card:hover {
  transform: scale(1.1);
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-height: 300px;
}

.max {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}