input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: transparent;
  position: relative;
}
		
input[type="date"]::-webkit-datetime-edit-year-field{
  position: absolute !important;
  color:#fff;
  left: 70px;
}
		
input[type="date"]::-webkit-datetime-edit-month-field{
  position: absolute !important;
  color:#fff;
  left: 30px;
}
		
	
input[type="date"]::-webkit-datetime-edit-day-field{
  position: absolute !important;
  color:#fff;
  left: 0px;
  
}	  
    