.delete{
	position: relative;
	top: 50px;
	text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.buttons{
	display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}