
/* Configuration */
.heart {
  /* The only thing needed to change the size, are these numbers: */
  width:100%;
  height:100%;
}

/* Exceptions */
.heart.small {
  float: right;
  right: 5px;
  bottom: 5px;
  width:30px;
  height:30px;
  font-size: 50%; /* font size was made relative. */
}

.heart.big {
  width:200px;
  height:200px;
  font-size: 200%; /* font size was made relative. */
}

/* Text contents defaults */
.heart .inner {
  /* Here is the styling and positioning for your text */
  padding-top: 20%;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

/* The rest is default, and doesn't need to be modified, unless you want to change background color or other 'heart' properties. */
.heart .inner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.heart {
  position:relative;
  text-align: center;
  box-sizing: border-box;
}

/* Shapes */
.heart:after,
.heart .inner:before, 
.heart .inner:after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  background-color: #111;
}

/* Square */
.heart:after {
  width: 59%;
  height: 59%;
  left: 20%;
  top: 25%;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  border-radius: 0 30% 0 0; /* To prevent the corner showing in the indent */
}

/* Two 'leafs' are basically just circles */
.heart .inner:before, 
.heart .inner:after {
  width:58%;
  height:58%;
  -moz-border-radius:50%;
  border-radius: 50%;
  top: 5.5%;
}
.heart .inner:before {
    left: 0;
}
.heart .inner:after {
  right: 0%;
}