.iframe-container {
  overflow: hidden;
  
    width: 100%;
    height: 100%;
}
 
.iframe-container iframe {
   border: 0;
   display: block;
   
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   width: 80%;
   --a: 100%;
   height: calc(calc(var(--a) * 3)/4);
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}