body {
  display: table;
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: scroll;
}

.row {
  min-height: 500px;
  position: relative;
  z-index: 0;
}

.smaller{
	min-height: 25vh;
    padding: 10px;
}

.row h1{
    position: absolute;
    top: 5%; 
    left: 35%;
    color: white;
}

.row h2{
	color: white;
	padding: 10px;
	margin: 0px;
}

.row img{
    position: absolute;
    max-width: 35%;
    max-height: 30%;
    top: 10%;
    left: 5%;
    transition: 1s;
    z-index: 1;
}

.row img:hover{
    max-width: 100%;
    max-height: 50%;
}

.links i{
  font-size: 30px;
  transition: 1s;
}

.links i:hover{
  font-size: 45px;
}

.links{
    position: absolute;
  top: 20%;
  left: 33.5%;
  height: 5%;
}

.links a {
	position: initial !important;
  margin: 15px;
}


.description{
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
}

.grade{
    position: absolute;
    top: 15%;
    right: 5%;
}

.phone{
    position:absolute;
    top: 45%;
    left: 35%;
}

.email{
    position:absolute;
    top: 45%;
    left: 10%;
}

.location{
    position:absolute;
    top: 45%;
    left: 60%;
}

.row a{
  position: absolute;
  bottom: 5%; 
  right: 5%;
}

.row iframe{
    position: absolute;
    top: 10%;
    left: 10%;
}

@media screen and (max-width: 756px) {
.row h1{
    position: initial;
}

.row img{
    position: initial;
    max-width: 75%;
}

.links{
  position: initial;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.description{
    position: initial;
}

.grade{
    position: initial;
}

.phone{
    position: initial;
    padding-top: 2%;
}

.email{
    position: initial;
    padding-top: 2%;
}

.location{
    position: initial;
    padding-top: 2%;
}

.row a{
  position: initial;
}

.row:nth-child(1) {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

}


.row:nth-child(1) {
  background-color: #333;
}

.row:nth-child(2) {
  background-color: #222;
}

.row:nth-child(3) {
  background-color: #111;
}

.row:nth-child(4) {
  background-color: #000;
}