.reservation-container {
    padding: 0px;
    background-color: #333;
    color: white;
    width: 95%;
    margin: 15px;
    margin-right: auto;
    margin-left: auto;
}

.reservation-container:hover{
  background-color: #666;
}

.content{
    overflow: auto;
    color: white;
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
    padding: 0px 10px 0px 10px;
}

.content p{
	margin-right: auto;
    padding: 10px;
    border-left: 1px solid black;
}