*{
    padding:0;
    margin: 0;
}
body{
    
}
.container{
    height:100vh;
    display: flex;
    flex-direction: column;
}
section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    transition: all .5s;
}
section:hover{
    flex:2;
}
section h1{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 12px 32px;
}
h2.headertext{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: xxx-large;
    color:white;
    text-align: center;
    top: 10%;
    width:100%;
    position: fixed;
    z-index: 1;
    visibility: hidden;
}
.wedding{
    background: url('/images/wedding.jpg') #ff0909ab;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
.concert{
    background: url('/images/concert.jpg') #2c40f58f;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
.party{
    background: url('/images/party.jpg') #d2ff0979;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
.party:hover, .concert:hover, .wedding:hover{
    backdrop-filter: blur(8px);
}
@media only screen and (min-width: 756px){
    .container{
        flex-direction: row;
    }
    h2.headertext{
    	visibility: visible;
    }
}
.link-div{
	height: 100%;
	width: 100%;
	
    align-items: center;
    justify-content: center;
}