<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="@{'BandMeUp - ' + ${band.getName()} + ' reservations'}"></title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/reservations.css}"/>
<link rel="stylesheet" th:href="@{/css/moreInfo.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="navbar">
  <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
  <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
  <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
  <div sec:authorize="isAuthenticated()" style="float: right;">
	<a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
  	<a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
  </div>
  <div sec:authorize="isAnonymous()" style="float: right;">
	<a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
  </div>
</div>

<div class="main">
        <span th:utext="${successMessage}" style="color: red;"></span>
        <div class="row smaller">
        <h2>Pending reservations</h2>
    
		    <tr th:each="reservation: ${pending}">
			    <div class="reservation-container">
			        <div class="content">
			               <p th:text="${reservation.getPlace()}" />
			               <p th:text="${reservation.getAddress()}" />
			               <p th:text="${reservation.getTime()}" />
			               <p th:text="${reservation.getType()}" />
			               <p th:text="${reservation.getDescription()}" />
			                <form method="POST" th:action="@{'/band/' + ${reservation.getBandId()} + '/reservations/' + ${reservation.getId()} + '/verify'}" class='form'>
			                    	<input class='button' type='submit' value='Verify' style="margin: 5px;">
			                </form>
			                <form method="POST" th:action="@{'/decline/' + ${reservation.getId()}}" class='form'>
			                    <input class='button' type='submit' value='Decline' style="margin: 5px;">
			                </form>
			        </div>
			    </div>
			</tr>
          </div>
          
          <div class="row smaller">
          	<h2>Verified reservations</h2>
          	
          	<a th:href="@{'/band/' + ${band.getId()}} + '/reservations/history/'" class="w3-btn w3-black" style="position: initial; width: -webkit-fill-available; max-width: 100px;">History</a>
    
		    <tr th:each="ver: ${verified}">
			    <div class="reservation-container">
			        <div class="content">
			                <p th:text="${ver.getPlace()}" />
			                <p th:text="${ver.getAddress()}" />
			                <p th:text="${ver.getTime()}" />
			                <p th:text="${ver.getType()}" />
			                <p th:text="${ver.getDescription()}" />
			                <a th:href="@{'/change/' + ${ver.getId()}}" class="w3-btn w3-black" style="position: initial; width: -webkit-fill-available; max-width: 100px;">Change</a>
			                    <form method="POST" th:action="@{'/cancel/' + ${ver.getId()}}" class="form">
			                    	<input class='button' type='submit' value='Cancel' style="margin: 5px;">
			                    </form>
			        </div>
			    </div>
			</tr>
          
          </div>
          <div class="row smaller">
          	<h2>Time change requests</h2>
    
		    <tr th:each="tc: ${timeChange}">
			    <div class="reservation-container">
			        <div class="content">
			            <p th:text="${tc.getPlace()}" />
			            <p th:text="${tc.getAddress()}" />
			            <p th:text="${tc.getTime()}" />
			            <p th:text="${tc.getType()}" />
			            <p th:text="${tc.getDescription()}" />
			            	<form method="POST" th:action="@{'/accept/' + ${tc.getId()}}" class="form">
			                    <input class='button' type='submit' value='Accept' style="margin: 5px;">
			        		</form>
			            	<form method="POST" th:action="@{'/decline/' + ${tc.getId()}}" class="form">
			                    <input class='button' type='submit' value='Decline' style="margin: 5px;">
			        		</form>
			        </div>
			    </div>
			</tr>
          </div>
    <div class="row smaller">
    	<h2>Time changes pending</h2>
    
	    <tr th:each="tcp: ${timeChangePending}">
		    <div class="reservation-container">
		        <div class="content">
		            <p th:text="${tcp.getPlace()}" />
		            <p th:text="${tcp.getAddress()}" />
		            <p th:text="${tcp.getTime()}" />
		            <p th:text="${tcp.getType()}" />
		            <p th:text="${tcp.getDescription()}" />
		        </div>
		    </div>
		</tr>
    </div>   
</body>
</html>