<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BandMeUp - Bands</title>
<link rel="stylesheet" th:href="@{/css/container.css}"/>
<link rel="stylesheet" th:href="@{/css/searchbar.css}"/>
<link rel="stylesheet" th:href="@{/css/star-rating.css}"/>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/heart.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="navbar">
  <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
  <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
  <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
  <div sec:authorize="isAuthenticated()" style="float: right;">
	<a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
  	<a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
  </div>
  <div sec:authorize="isAnonymous()" style="float: right;">
	<a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
  </div>
</div>

<div class="main" align="center">
    <form method="post" th:action="@{/bandList}" th:object="${search}" id="search">
		<input name="q" type="text" th:field="*{str}" size="40" placeholder="Search bands..." />
		<span th:utext="${successMessage}"></span>
	</form>
			
	<div class="parent">
		<tr th:each="band: ${bands}">
	        <div class="child">
	        <span th:if="${band.getRateSum() > 4}">
				<a th:href="@{'/info/' + ${band.getId()}}" title="Click for more info">
		        	<div class="card" style="border: 1px solid #ffd700;">
		                <img th:src="${band.getImgUrl()}">
		                <h1><td th:text="${band.getName()}" /></h1>
		                <p class="max"><td th:text="${band.getAbout()}" /></p>
    					<div class="heart small"><div class="inner"><td th:text="${band.getRateSum()}" /></div></div>
		                <p><button title="Click for more info">More Info</button></p>
		              </div>
		        </a>
	        </span>
    		<span th:unless="${band.getRateSum() > 4}">
				<a th:href="@{'/info/' + ${band.getId()}}" title="Click for more info">
	    			<div class="card" style="border: 1px solid #c0c0c0;">
		                <img th:src="${band.getImgUrl()}">
		                <h1><td th:text="${band.getName()}" /></h1>
		                <p class="max"><td th:text="${band.getAbout()}" /></p>
    					<div class="heart small"><div class="inner"><td th:text="${band.getRateSum()}" /></div></div>
		                <p><button th:href="@{'/info/' + ${band.getId()}}">More Info</button></p>
		              </div>
		        </a>
    		</span>
	        </div>
    	</tr>
    </div>
    
    
</div>   

</body>
</html>