<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BandMeUp - Reservations history</title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/reservations.css}"/>
<link rel="stylesheet" th:href="@{/css/moreInfo.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="navbar">
  <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
  <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
  <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
  <div sec:authorize="isAuthenticated()" style="float: right;">
	<a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
  	<a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
  </div>
  <div sec:authorize="isAnonymous()" style="float: right;">
	<a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
  </div>
</div>

<div class="main">
	
	<div th:if="${flag == 1}">
		<h2 th:text="@{'Gigs in ' + ${year}}" style ="color:white;"></h2>
		<div th:each="s: ${stat}" style="display: inline-block; color: white;padding-left: 2%;padding-right: 2%;">
			<p th:text="${s.getMonth() + ' : '}" style="color:#777">
			<p th:text="${s.getGigs() + '    '}">
		</div>
	</div>

    <h2 style="color: white;">History</h2>
    
    <tr th:each="reservation: ${reservations}">
			    <div class="reservation-container">
			        <div class="content">
			               <p th:text="${reservation.getPlace()}" />
			               <p th:text="${reservation.getAddress()}" />
			               <p th:text="${reservation.getTime()}" />
			               <p th:text="${reservation.getType()}" />
			               <p th:text="${reservation.getDescription()}" />
			        </div>
			    </div>
			</tr>
    
</div>   
</body>
</html>