<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BandMeUp</title>
	<link rel="stylesheet" th:href="@{/css/basic.css}"/>
	<link rel="stylesheet" th:href="@{/css/wellcome.css}"/>
	<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="padding: 0;">
    <h2 class="headertext">Wellcome to BandMeUp!</h2>

    <div class="container">
    	
    	<div class="navbar main-nav">
		  <div sec:authorize="isAuthenticated()">
		  	<a href="/home" title="Home" style="color: white;"><i class="fa fa-fw fa-home"></i> Home</a>
		    <a href="/reservations" title="Reservations" style="color: white;"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
		    <a href="/bands" title="My bands" style="color: white;"><i class="fas fa-drum"></i> My bands</a>
		    <a href="/new" title="New band" style="color: white;"><i class="fa fa-fw fa-plus"></i> New band</a>
		  </div>
		  <div sec:authorize="isAuthenticated()" style="float: right;">
			<a href="/logout" title="Sign out" style="color: white;"><i class="fa fa-fw fa-sign-out"></i></a>
		  	<a href="/profile" title="Profile" style="color: white;"><i class="fa fa-fw fa-user-circle"></i></a>
		  </div>
		  <div sec:authorize="isAnonymous()" style="float: right;">
	<a href="/login" title="Sign in/Register" style="color: white;"><i class="fa fa-fw fa-sign-in"></i></a>
		  </div>
		</div>
    	
	        <section class="wedding">
    			<a th:href="@{'/wedding'}" title="Click for more info">
		            	<h1>Wedding</h1>
	    		</a>
	        </section>
		    <section class="concert">
    			<a th:href="@{'/concert'}" title="Click for more info">
		            	<h1>Concert</h1>
	    		</a>
	        </section>
	    	<section class="party">
    			<a th:href="@{'/party'}" title="Click for more info">
		            	<h1>Party</h1>
	    		</a>
	        </section>
    </div>

</body>
</html>