<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BandMeUp - Login</title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>

<body style="padding: 0px;">
  <div class="wrap whole">
    <div class="box audience">
      <h1>Sign In</h1>
    </div>
    <div class="box1" style="overflow-y: hidden; display: flex; align-items: center; justify-content: center;">
      <form th:action="@{/login}" method="POST" class='form'>
        <h1>Sign In</h1>
        <p class='field required'>
          <label class='label' for='email'>E-mail</label>
          <input class='text-input' id='email' name='email' required type='email'>
        </p>
        <p class='field required'>
            <label class='label' for='password'>Password</label>
            <input class='text-input' id='password' name='password' required type='password'>
          </p>
		<div align="center" th:if="${param.error}">
			<p style="font-size: 20; color: #FF1C19;">Email or Password is invalid.</p>
		</div>
	        <p class='field half'>
	            <input class='button' type='Submit' value='Sign In'  style="margin:0;">
	          </p>
		<div style="color: white;">
            Don't have an account? <a href="/register" style="text-decoration: none; color: blue;">Register</a>
	    </div>
      </form>
    </div>
  </div>
  
</body>
</html>