<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="@{'BandMeUp - ' + ${band.getName()}}"></title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/moreInfo.css}"/>
<link rel="stylesheet" th:href="@{/css/heart.css}"/>
<link rel="stylesheet" th:href="@{/css/hearth-rating.css}"/>
<link rel="stylesheet" th:href="@{/css/iframe.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
<link rel="stylesheet" th:href="@{/css/comments.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="navbar">
        <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
        <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
        <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
        <div sec:authorize="isAuthenticated()" style="float: right;">
          <a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
            <a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
        </div>
        <div sec:authorize="isAnonymous()" style="float: right;">
          <a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
        </div>
      </div>

    <div class="main">
        <div class="row">
            <img th:src="@{${band.getImgUrl()}}"/>
            <h1><td th:text="${band.getName()}"/></h1>
            <div class="grade" th:unless="${not rated}">
                <div class="heart small"><div class="inner"><td th:text="${band.getRateSum()}"/></div></div>
            </div>
            <div class="links">
            	
              		<a th:if="${band.getYtChannel() != null}" th:href="${band.getYtChannel()}" target="_blank"><i class="fab fa-youtube" size="2x"></i></a>
            	
            	
              		<a th:if="${band.getFbUrl() != null}" th:href="${band.getFbUrl()}" target="_blank"><i class="fab fa-facebook-square"></i></a>
            	
            	
              		<a th:if="${band.getBandPageUrl() != null}" th:href="${band.getBandPageUrl()}" target="_blank"><i class="fas fa-globe"></i></a>
            	
            </div>
            <div class="email">
              <i class="fas fa-envelope"></i> <td th:text=" ${band.getEmail()}"/>
            </div>
            <div class="phone" th:if="${band.getPhone() != null}">
              <i class="fas fa-phone"></i> <td th:text=" ${band.getPhone()}"/>
            </div>
            <div class="location">
                <i class="fas fa-map-marker-alt"> </i> <td th:text=" ${band.getCity()}"/>
            </div>
            <div class="description">
                <p>
            <td th:text="${band.getAbout()}"/></p>
            </div>
            
          <a th:href="@{'/reserve/' + ${band.getId()}}" class="w3-btn w3-black">Reserve</a>

          </div>
          
          <div class="row">
	          <div class="iframe-container">
	            <iframe th:src="${band.getYtUrl()}"></iframe>
	          </div>
          </div>
          <div class="row">
	          <div th:if="${not rated}">
		    	<form action="#" th:action="@{'/rate/' + ${band.getId()}}" th:object="${rating}" method="post">
			    	  <div class="rating-system3">
						  <h3>Give your Respect</h3>
						  <button type="submit">Rate</button>
						  <input type="radio" name='rate3' id="star5_3" th:field="${rating.rating}" th:value="5.0"/>
						  <label for="star5_3"></label>
						
						  <input type="radio" name='rate3' id="star4_3" th:field="${rating.rating}" th:value="4.0"/>
						  <label for="star4_3"></label>
						
						  <input type="radio" name='rate3' id="star3_3" th:field="${rating.rating}" th:value="3.0"/>
						  <label for="star3_3"></label>
						 
						  <input type="radio" name='rate3' id="star2_3" th:field="${rating.rating}" th:value="2.0"/>
						  <label for="star2_3"></label>
						
						  <input type="radio" name='rate3' id="star1_3" th:field="${rating.rating}" th:value="1.0"/>
						  <label for="star1_3"></label>
						  
						  <div class="text"></div>
						</div>
				</form>
	    	</div>
    		
    		<form action="#" class="form" th:action="@{'/comment/' + ${band.getId()}}" th:object="${comment}" method="post" style="padding-top: 10px;">
	            <p class='field required'>
	                <input class='text-input' th:field="*{content}" id='content' name='content' required type='text' placeholder="Comment">
	              </p>
	              <p class='field half'>
	                <input class='button' type='submit' value='Comment' style="margin: 0;">
	              </p>
	        </form>
    		
    		<h2 align="left">Comments</h2>
			<tr th:each="com: ${comments}" align="left">
			    	<div class="commentcontainer">
			    		<td th:text="${com.getUser().getNickname()}"/>
			            <div class="comment">
		            		<td th:text="${com.getContent()}"/>
			            </div>
			        </div>
		        </br>
		    </tr>
    		
          </div>
    </div>
</body>
</html>