<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="@{'BandMeUp - ' + ${band.getName()}}"></title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
<link rel="stylesheet" th:href="@{/css/iframe.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="navbar">
        <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
        <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
        <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
        <div sec:authorize="isAuthenticated()" style="float: right;">
          <a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
            <a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
        </div>
        <div sec:authorize="isAnonymous()" style="float: right;">
          <a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
        </div>
      </div>

  <div class="wrap">
    <div class="band">
    	<h1>Band Info<h1>
        <img th:src="${band.getImgUrl()}"> 
        <h2><td th:text="${band.getName()}"/></h2>
        <p><strong>Description:</strong> <br><td th:text="${band.getAbout()}"/></p>
	          <div class="iframe-container">
	            <iframe th:src="${band.getYtUrl()}"></iframe>
	          </div>
        <p><strong>No. members:</strong> <br><td th:text="${band.getMembers()}"/></p>
        <p><strong>Phone:</strong> <br><td th:text="${band.getPhone()}"/></p>
        <p><strong>City:</strong> <br><td th:text="${band.getCity()}"/></p>
        <p><strong>YouTube Channel:</strong> <br><td th:text="${band.getYtChannel()}"/></p>
        <p><strong>Facebook Link:</strong> <br><td th:text="${band.getFbUrl()}"/></p>
        <p><strong>Band Page Link:</strong> <br><td th:text="${band.getBandPageUrl()}"/></p>

    </div>
    <div class="box1">
    	<a th:href="@{'/band/' + ${band.getId()} + '/reservations'}" class="w3-btn w3-black" style="float: right">Reservations</a>
        <h1 style="color: white; display: block;">Update info</h1>
        <span th:utext="${errorMsg}" style="color: red;"></span>
        <span th:utext="${sucessMsg}" style="color: green;"></span>
        <form action="#" class="form" th:action="@{'/change-members/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='members'>No. members</label>
                <input class='text-input' th:field="*{members}" th:value="${members}" id='members' name='members' required type='number'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <form action="#" class="form" th:action="@{'/change-description/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='description'>Description</label>
                <textarea class='textarea' cols='50' th:field="*{description}" th:value="${description}" id='about' name='about' rows='4'  required type='text'></textarea>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <form action="#" class="form" th:action="@{'/change-phone/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='phone'>Contact phone</label>
                <input class='text-input' th:field="*{phone}" th:value="${phone}" id='phone' name='phone' required type='tel'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <form action="#" class="form" th:action="@{'/change-yt-url/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='ytUrl'>Youtube link</label>
                <input class='text-input' th:field="*{ytUrl}" th:value="${ytUrl}" id='ytUrl' name='ytUrl' required type='link'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <form action="#" class="form" th:action="@{'/change-img-url/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='imgUrl'>Image link</label>
                <input class='text-input' th:field="*{imgUrl}" th:value="${imgUrl}" id='imgUrl' name='imgUrl' required type='link'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <form action="#" class="form" th:action="@{'/change-page-url/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='bandPageUrl'>Band page link</label>
                <input class='text-input' th:field="*{bandPageUrl}" th:value="${bandPageUrl}" id='bandPageUrl' name='bandPageUrl' required type='link'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <form action="#" class="form" th:action="@{'/change-fb-url/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='fbUrl'>Facebook link</label>
                <input class='text-input' th:field="*{fbUrl}" th:value="${fbUrl}" id='fbUrl' name='fbUrl' required type='link'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <form action="#" class="form" th:action="@{'/change-yt-channel/' + ${band.getId()}}" th:object="${updates}" method="post">
            <p class='field required'>
                <label class='label required' for='ytChannel'>Youtube channel</label>
                <input class='text-input' th:field="*{ytChannel}" th:value="${ytChannel}" id='ytChannel' name='ytChannel' required type='link'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        
        <a th:href="@{'/delete/' + ${band.getId()}}" class="w3-btn w3-black" style="float: right">Delete</a>
    </div>
  </div>
  
</body>
</html>