<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BandMeUp - New Band</title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
input[type=checkbox] {
    transform: scale(1.5);
}
</style>
</head>

<body>
    <div class="navbar">
        <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
        <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
        <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
        <div sec:authorize="isAuthenticated()" style="float: right;">
          <a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
            <a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
        </div>
        <div sec:authorize="isAnonymous()" style="float: right;">
          <a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
        </div>
      </div>

  <div class="wrap">
    <div class="box drum-kit">
      <h1>New band</h1>
    </div>
    <div class="box1">
      <h1>New band</h1>
      <span th:utext="${successMessage}" style="color: green;"></span>
        <span th:utext="${errorMsg}" style="color: red;"></span>
      <form autocomplete="off" action="#" th:action="@{/new/}" th:object="${band}" method="post" class='form'>
        <p class='field required'>
          <label class='label required' for='name'>Name</label>
          <input class='text-input' th:field="*{name}" th:value="${name}" id='name' name='name' required type='text'>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </p>
        <p class='field required half'>
          <label class='label' for='email'>E-mail</label>
          <input class='text-input' th:field="*{email}" th:value="${email}" id='email' name='email' required type='email'>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
        </p>
        <p class='field half'>
          <label class='label' for='phone'>Phone</label>
          <input class='text-input' th:field="*{phone}" th:value="${phone}" id='phone' name='phone' type='tel'>
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</span>
        </p>
        <p class='field required half'>
            <label class='label' for='city'>City</label>
            <input class='text-input' th:field="*{city}" th:value="${city}" id='city' name='city' required type='text'>
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</span>
          </p>
          <p class='field required half'>
            <label class='label' for='members'>No. members</label>
            <input class='text-input' th:field="*{members}" th:value="${members}" id='members' name='members' required type='number'>
            <span th:if="${#fields.hasErrors('members')}" th:errors="*{members}">Members Error</span>
          </p>
          <p class='field required'>
            <label class='label' for='about'>About</label>
            <textarea class='textarea' cols='50' maxlength="1000" th:field="*{about}" th:value="${about}" id='about' name='about' rows='4'  required type='text'></textarea>
            <span th:if="${#fields.hasErrors('about')}" th:errors="*{about}">Description Error</span>
          </p>
          <div class='field required'>
            <label class='label'>Gig types</label>
            <ul style="list-style-type: none;">
			  <li th:each="g : ${allGigs}">
			    <input type="checkbox" th:field="*{gigs}" th:value="${{g}}" />
			    <label th:for="${#ids.prev('gigs')}" 
			           th:text="${g.getType()}" style="color: white;font-size: x-large;">Gigs</label>
			  </li>
			</ul>
            <span th:if="${#fields.hasErrors('gigs')}" th:errors="*{gigs}">Gigs Error</span>
          </div>
          <p class='field'>
            <label class='label' for='imgUrl'>Image link</label>
            <input class='text-input' th:field="*{imgUrl}" th:value="${imgUrl}" id='imgUrl' name='imgUrl' type='link'>
            <span th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}">Image Error</span>
          </p>
          <p class='field'>
            <label class='label' for='ytUrl'>Youtube video link</label>
            <input class='text-input' th:field="*{ytUrl}" th:value="${ytUrl}" id='ytUrl' name='ytUrl' type='link'>
            <span th:if="${#fields.hasErrors('ytUrl')}" th:errors="*{ytUrl}">Youtube Error</span>
          </p>
          <p class='field'>
            <label class='label' for='ytChannel'>Youtube channel link</label>
            <input class='text-input' th:field="*{ytChannel}" th:value="${ytChannel}" id='ytChannel' name='ytChannel' type='link'>
            <span th:if="${#fields.hasErrors('ytChannel')}" th:errors="*{ytChannel}">Youtube channel Error</span>
          </p>
          <p class='field'>
            <label class='label' for='pageUrl'>Web page link</label>
            <input class='text-input' th:field="*{bandPageUrl}" th:value="${bandPageUrl}" id='bandPageUrl' name='bandPageUrl' type='link'>
            <span th:if="${#fields.hasErrors('bandPageUrl')}" th:errors="*{bandPageUrl}">Band page Error</span>
          </p>
          <p class='field'>
            <label class='label' for='fbUrl'>Facebook link</label>
            <input class='text-input' th:field="*{fbUrl}" th:value="${fbUrl}" id='fbUrl' name='fbUrl' type='link'>
            <span th:if="${#fields.hasErrors('fbUrl')}" th:errors="*{fbUrl}">Facebook page Error</span>
          </p>
        <p class='field half'>
          <input class='button' type='submit' value='Submit' style="margin: 0;">
        </p>
      </form>
    </div>
  </div>
  
</body>
</html>