<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BandMeUp - Profile</title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="navbar">
  <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
  <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
  <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
  <div sec:authorize="isAuthenticated()" style="float: right;">
	<a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
  	<a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
  </div>
  <div sec:authorize="isAnonymous()" style="float: right;">
	<a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
  </div>
</div>

<div class="wrap">
    <div class="profile">
        <h1><td th:text="${user.getNickname()}"/></h1>
        <p><strong>Full Name:</strong> <br><td th:text="${user.getName()}"/> <td th:text="${user.getLastName()}"/></p>
        <p><strong>E-mail:</strong> <br><td th:text="${user.getNickname()}"/></p>
        
        <form action="#" class="form" th:action="@{'/change-nickname'}" th:object="${updates}" method="post" style="margin:0;">
            <p class='field required'>
                <label class='label required' for='nickname'>Nickname</label>
                <input class='text-input' th:field="*{nickname}" id='nickname' name='nickname' required type='text'>
              </p>
              <p class='field half'>
                <input class='button' type='submit' value='Update' style="margin: 0;">
              </p>
        </form>
        <span th:utext="${errorMsg}" style="color: red;"></span>
        <br>
        
        <a href="/change-password" class="w3-btn w3-black">Change Password</a>

    </div>
  </div>
</body>
</html>