<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BandMeUp - Register</title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>

<body style="padding: 0px;">
  <div class="wrap whole">
    <div class="box audience">
      <h1>Register</h1>
    </div>
    <div class="box1" style="overflow-y: hidden; display: flex; align-items: center; justify-content: center;">
      <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post" class='form'>
        <p class='field required half'>
            <label class='label required' for='name'>First name</label>
            <input class='text-input' th:field="*{name}" th:value="${user.name}" id='name' name='name' required type='text'>
          </p>
          <p class='field required half'>
            <label class='label required' for='name'>Last name</label>
            <input class='text-input' th:field="*{lastName}" th:value="${user.lastName}" id='name' name='name' required type='text'>
          </p>
          <p class='field required'>
            <label class='label required' for='name'>Nickname</label>
            <input class='text-input' th:field="*{nickname}" th:value="${user.nickname}" id='name' name='name' required type='text'>
          </p>
        <p class='field required'>
          <label class='label' for='email'>E-mail</label>
          <input class='text-input' th:field="*{email}" th:value="${user.email}" id='email' name='email' required type='email'>
        </p>
        <p class='field required'>
            <label class='label' for='password'>Password</label>
            <input class='text-input' th:field="*{password}" th:value="${user.password}" id='password' name='password' required type='password'>
          </p>
        <p class='field half'>
            <input class='button' type='submit' value='Register'  style="margin:0;">
          </p>
          <div style="color: white;">
            Already have an account? <a href="/login" style="text-decoration: none; color: blue;">Sign In</a>
	    </div>
          
          <span th:utext="${successMessage}" style="color: red;"></span>
          
      </form>
    </div>
  </div>
</body>
</html>