<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BandMeUp - Reservation form</title>
<link rel="stylesheet" th:href="@{/css/basic.css}"/>
<link rel="stylesheet" th:href="@{/css/forms.css}"/>
<link rel="stylesheet" th:href="@{/css/date.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/83f886463d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="navbar">
  <a href="/home" title="Home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/reservations" title="Reservations"><i class="fa fa-fw fa-calendar"></i> Reservations</a>
  <a href="/bands" title="My bands"><i class="fas fa-drum"></i> My bands</a>
  <a href="/new" title="New band"><i class="fa fa-fw fa-plus"></i> New band</a>
  <div sec:authorize="isAuthenticated()" style="float: right;">
	<a href="/logout" title="Sign out"><i class="fa fa-fw fa-sign-out"></i></a>
  	<a href="/profile" title="Profile"><i class="fa fa-fw fa-user-circle"></i></a>
  </div>
  <div sec:authorize="isAnonymous()" style="float: right;">
	<a href="/login" title="Sign in/Register"><i class="fa fa-fw fa-sign-in"></i></a>
  </div>
</div>
	<div class="wrap">
    <div class="box calendar">
      <h1>Reserve</h1>
    </div>
    <div class="box1">
      <h1>Reserve</h1>
        <span th:utext="${successMessage}" style="color: green;"></span>
        <span th:utext="${errorMsg}" style="color: red;"></span>
      <form autocomplete="off" action="#" th:action="@{/reserve/} + ${id}" method="post" class='form'>
        <p class='field required half'>
          <label class='label required' for='place'>Place</label>
          <input class='text-input' th:field="*{reservation.place}" th:value="${reservation.place}" id='place' name='place' required type='text'>
        </p>
        <p class='field required half'>
          <label class='label' for='address'>Address</label>
          <input class='text-input' th:field="*{reservation.address}" th:value="${reservation.address}" id='Address' name='Address' required type='text'>
        </p>
        <p class='field required'>
          <label class='label' for='phone'>Date</label>
          <input class='text-input' th:field="*{ts.date}" th:value="${ts.date}" id='date' name='date' type='date'>
        </p>
        <p class='field required'>
            <label class='label' for='hour'>Hour</label>
            <select class="text-input" th:field="*{ts.hour}"  id="dropOperator">
						<option value="-1">Hour</option>
	    				<option th:each="h : ${ts.getHour()}" th:value="${h}" th:text="${h}"></option>
	    			</select> 
          </p>
          <p class='field required'>
            <label class='label' for='hour'>Type</label>
            <select class="text-input" th:field="*{reservation.type}"  id="dropOperator">
	    				<option th:each="gig : ${band.getGigs()}" th:value="${gig.getType()}" th:text="${gig.getType()}"></option>
	    			</select> 
          </p>
            <p class='field required'>
                <label class='label' for='about'>Description</label>
                <textarea class='textarea' cols='50' th:field="*{reservation.description}" th:value="${reservation.description}" id='about' name='about' rows='4'  required type='number'></textarea>
              </p>
           <p class='field half'>
	          <input class='button' type='submit' value='Submit' style="margin: 0;">
	        </p>
      </form>
    </div>
  </div>
	
</body>
</html>